h1 {
  color: white;
  background-image: url(Imagens/imagem-fundo.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding: 1%;
}

}
ul {
  color: white;
  text-align: left
}
h2 {
  color: white;
  text-align: left;
}

h3 {
  color: white;
}
a {
  color: white;
}
body {
  color: white;
  background-color: black;
}
div{
  text-align: center;
  width: 80%;
}
.list-style {
  color: white;
  line-height: 22px;
}
p {
  color: white;
  font-family: "Times New Roman", Times, serif;
}
#Dcao {
  color: white;
  font-size: 16px;
 
}
#Roiney{
  style="border-radius: 40% 0%;
}
.Roiney{
  border-radius: 40% 0%;
}
.botton{
  background-color: #0e76a8 ;
  padding: auto;
  text-decoration: none;
  border-radius: 3px;
}
#BN{
  width: 300%
  height: 400px;
  left: cover;
  margin-left: 5px;
  margin-right: 5px;
  
}